body{
    background-image: url(./1255574-black-wallpaper-1920x1200-for-android-tablet.jpg);
}
h1{
    color: aliceblue;
    font-size: 45px;
    padding-bottom:25px ;
    text-align: center;
}
p{
    font-size: 25px;
    color: aliceblue;
    text-align: center;
}